.main{
  width: 80%;
  max-width:1000px;
  margin: 0 auto;
  margin-top: 175px;

}

.wrapper{
  background-image: linear-gradient(#fff,#e7f8ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

