.name{
 margin-top: 100px;
 margin-bottom: 1rem;

}

.links-wrapper{
  margin-top: 50px;
  li{
    margin-top: 50px;
  }
  a{
    color: inherit;
  }
}

@media (min-width:1024px) {
  .links-wrapper{
    li{
      margin-top: 0;
    }
    display: flex;
      justify-content: space-between;
  }
}